.headphone{
    width: 2%;
    height: 2%;
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 70px;
    margin-right: 40px;
    z-index: 60;
    img{
        width: 45px;
        height: 45px;
        background-color: crimson;
        padding: 10px;
        border-radius: 50%;
        width: auto;
    }
}