* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
}
:root {
  --font: iranyekan;
  
}
@font-face {
  font-family: iranyekan;
  src: url(../fonts/IRANYekanXFaNum-Regular.ttf),
    url(../fonts/IRANYekanXFaNum-Regular.woff),
    url(../fonts/IRANYekanXFaNum-Regular.woff2);
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  width: 30px;
  height: 30px;
  background-color: whitesmoke;
  border-radius: 50%;
  border: 1px solid lightgray;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.swiper-button-disabled {
  display: none;
}
