.super-market-header {
  width: 100vw;
  height: 110px;
  box-shadow: 0 1px 2px #ababab;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
  header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    .super-market-header-top {
      width: 100%;
      height: 70px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      .super-market-header-top-center {
        width: 98%;
        height: 100%;
        padding: 12px 16px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .super-market-header-top-center-right {
          width: 76%;
          height: 46px;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          .super-market-header-top-center-right-right {
            width: 19%;
            height: 45px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-left: 15px;
            text-decoration: none;
            .super-market-header-top-center-right-right-img {
              width: 20%;
              height: 45px;
              display: flex;
              img {
                width: 45px;
                height: 45px;
                object-fit: contain;
              }
            }
            .super-market-header-top-center-right-right-logo {
              width: 80%;
              height: 40px;
              img {
                width: 151px;
                height: 100%;
                object-fit: contain;
              }
            }
          }
          .super-market-header-top-center-right-left {
            width: 79%;
            height: 40px;
            display: flex;
            input[type="search"] {
              width: 100%;
              height: 40px;
              background-color: #f0f0f1;
              border: none;
              outline: none;
              padding-right: 20px;
              font-family: var(--font-family);
              caret-color: blue;
              border-radius: var(--border-radius);
              margin-left: 10px;
              &::placeholder {
                padding-right: 20px;
                color: #92958b;
                font-family: var(--font-family);
                font-size: 12px;
              }
              &:focus::placeholder {
                color: transparent;
              }
            }
          }
        }
        .super-market-header-top-center-left {
          width: 24%;
          height: 46px;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: flex-end;
          .super-market-header-top-center-left-register {
            width: 133px;
            height: 40px;
            display: flex;
            flex-flow: row wrap;
            text-align: center;
            justify-content: space-between;
            text-decoration: none;
            border: 1px solid lightgray;
            border-radius: var(--border-radius);
            padding: 8px 16px;
            margin-left: 5px;
            column-gap: 3px;
            .super-market-header-top-center-left-register-img {
              width: 24px;
              height: 24px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .super-market-header-top-center-left-register-text {
              width: 72px;
              height: 26px;
              font-family: var(--font-family);
              font-size: 12px;
              font-weight: 500;
              color: #0c0c0c;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-bottom: 5px;
            }
          }
          .super-market-header-top-center-left-line {
            width: 1px;
            height: 24px;
            margin: 0 5px;
            background-color: lightgray;
          }
          .super-market-header-top-center-left-img {
            width: 40px;
            height: 40px;
            padding: 8px;
            display: flex;
            text-decoration: none;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .super-market-header-top-center-left-link-digi {
            width: 140px;
            height: 46px;
            display: flex;
            flex-flow: row wrap;
            margin-right: 8px;
            padding: 8px 16px;
            background-color: #fff3f6;
            border-radius: var(--border-radius);
            align-items: center;
            justify-content: center;
            text-decoration: none;
            .super-market-header-top-center-left-link-digi-span {
              width: 80px;
              height: 30px;
              display: flex;
              font-family: var(--font-family);
              font-size: 11px;
              font-weight: 700;
              color: #e82c53;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-bottom: 5px;
              text-align: right;
            }
            .super-market-header-top-center-left-link-digi-img {
              width: 24px;
              height: 24px;
              display: flex;
              justify-content: center;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                padding-bottom: 8px;
              }
            }
          }
        }
      }
    }
    .super-market-header-bottom {
      width: 100%;
      height: 40px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      .super-market-header-bottom-center {
        width: 96%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .super-market-header-bottom-center-right {
          width: 60%;
          height: 39px;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          .super-market-header-bottom-center-right-nav {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            column-gap: 10px;
            .super-market-header-bottom-center-right-nav-divs {
              width: fit-content;
              height: 100%;
              .menu-link {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 5px;
                height: 100%;
                width: fit-content;
                padding: 0 5px;
                font-family: var(--font-family);
                text-decoration: none;
                font-size: 12px;
                color: #a3a5aa;
                transition: 200ms;
                img {
                  width: 16px;
                  height: 16px;
                  object-fit: contain;
                }
                &:hover {
                  border-bottom: 3px solid #029a49;
                }
              }
              .super-market-mega-menu {
                width: 50vw;
                height: 60vh;
                background-color: #ffffff;
                position: absolute;
                right: 50px;
                border-top: 1px solid #f0f0f1;
                display: none;
                .super-market-mega-menu-right {
                  width: 20%;
                  height: 100%;
                  background-color: rgb(247, 247, 247);
                  overflow: auto;
                  direction: ltr;
                  .super-market-mega-menu-right-item {
                    width: 100%;
                    height: 55px;
                    padding: 0 3px;
                    .super-market-mega-menu-right-item-link {
                      display: flex;
                      width: 100%;
                      height: 100%;
                      flex-flow: row wrap;
                      align-items: center;
                      justify-content: end;
                      transition: 300ms;
                      text-decoration: none;
                      column-gap: 2px;
                      span {
                        font-family: var(--font-family);
                        text-align: center;
                        line-height: 30px;
                        font-size: 10px;
                        text-decoration: none;
                        color: #585573;
                        transition: 300ms;
                      }
                      img {
                        width: 14px;
                        height: 14px;
                        object-fit: cover;
                      }
                    }
                    .super-market-mega-menu-right-item-sub {
                      width: 80%;
                      height: 100%;
                      position: absolute;
                      left: 0;
                      top: 0;
                      flex-flow: row-reverse wrap;
                      display: none;
                      direction: rtl;
                      transition: 300ms;
                      transition-delay: 300ms;
                      overflow: auto;
                      direction: ltr;
                      padding: 0 10px;
                      background-color: #ffffff;
                      .super-market-mega-menu-right-item-sub-top {
                        width: 100%;
                        height: 9%;
                        display: flex;
                        flex-flow: row-reverse wrap;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 10px 5px;
                        text-decoration: none;
                        .super-market-mega-menu-right-item-sub-top-span {
                          font-family: var(--font-family);
                          font-size: 11px;
                          color: #19bfd3;
                          font-weight: 700;
                          text-align: center;
                        }
                        .super-market-mega-menu-right-item-sub-top-img {
                          width: 16px;
                          height: 16px;
                          display: flex;
                          flex-flow: row wrap;
                          align-items: center;
                          text-align: center;
                          img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                          }
                        }
                      }
                      .super-market-mega-menu-right-item-sub-bottom {
                        width: 100%;
                        height: 91%;
                        display: flex;
                        flex-flow: row-reverse wrap;
                        justify-content: space-between;
                        padding: 20px 5px;
                        .super-market-mega-menu-right-item-sub-bottom-child {
                          width: 32%;
                          height: 100%;
                          display: flex;
                          flex-flow: row-reverse wrap;
                          justify-content: center;
                          align-items: center;
                          position: relative;
                          top: 0;
                          .super-market-mega-menu-right-item-sub-bottom-child-bold {
                            width: 100%;
                            height: 38px !important;
                            display: flex;
                            flex-flow: row-reverse wrap;
                            justify-content: flex-start;
                            align-items: start;
                            column-gap: 5px;
                            position: relative;
                            top: 0;
                            margin-bottom: 10px;
                            cursor: pointer;

                            .super-market-mega-menu-right-item-sub-bottom-child-bold-l {
                              width: 2px;
                              height: 14px;
                              background-color: #029a49;
                              display: flex;
                              flex-flow: row wrap;
                              align-items: center;
                              justify-content: center;
                            }
                            .super-market-mega-menu-right-item-sub-bottom-child-bold-span {
                              font-family: var(--font-family);
                              font-size: 11px;
                              font-weight: 700;
                              color: #0c0c0c;
                              align-items: center;
                            }
                            .super-market-mega-menu-right-item-sub-bottom-child-bold-img {
                              width: 17px;
                              height: 17px;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              padding-bottom: 5px;
                              img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                              }
                              &:hover
                                .super-market-mega-menu-right-item-sub-bottom-child-bold-span {
                                color: #029a49;
                              }
                            }
                            &:hover .super-market-mega-menu-right-item-sub-bottom-child-bold-span{
                              color: #029a49;
                            }
                          }
                        }
                      }
                    }
                    &:hover .super-market-mega-menu-right-item-link {
                      background-color: #ffffff;
                    }
                    &:hover .super-market-mega-menu-right-item-link span {
                      color: #029a49;
                    }
                    &:hover .super-market-mega-menu-right-item-sub {
                      display: flex;
                    }
                  }
                }
              }
              &:hover .super-market-mega-menu {
                display: flex;
              }
            }
            .super-market-header-bottom-center-right-nav-l {
              width: 1px;
              height: 16px;
              background-color: #e0e0e2;
            }
          }
        }
      }
      label[for="super-modal"] {
        display: inline-block;
        width: fit-content;
        padding: 6px 10px;
        background-color: #fef6ef;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        font-family: var(--font-family);
        font-size: 12px;
        color: #05b154;
        cursor: pointer;
        margin-bottom: 2px;
      }
      #super-modal,
      #super-close {
        display: none;
      }
      .super-header-top-left-select-city-bgc {
        inset: 0 0 0 0;
        position: fixed;
        background-color: #b2b2b251;
        display: none;
        z-index: 999999999999;
        .super-header-top-left-select-city {
          width: 27%;
          height: 80%;
          padding-top: 50px;
          border-radius: var(--border-radius);
          background-color: #ffffff;
          position: absolute;
          left: calc(50% - 27% / 2);
          top: calc(50% - 80% / 2);
          display: flex;
          flex-flow: column wrap;
          .super-header-top-left-select-city-top {
            width: 410px;
            height: 58px;
            padding: 0 20px;
            display: flex;
            position: absolute;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            top: 0;
            right: 0;
            border-bottom: 1px solid #f0f0f1;
            .super-header-top-left-select-city-top-right {
              width: 238px;
              height: 57px;
              padding: 12px 0;
              .super-header-top-left-select-city-top-right-p {
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                p {
                  color: #3f4064;
                  font-family: var(--font-family);
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 24px;
                  letter-spacing: 0.3px;
                }
              }
            }
            .super-header-top-left-select-city-top-left {
              width: 24px;
              height: 24px;
              display: flex;
              flex-flow: row wrap;
              label[for="super-close"] {
                width: 100%;
                height: 100%;
                font-size: 24px;
                color: #141414;
                font-weight: bolder;
                cursor: pointer;
              }
            }
          }
          .super-header-top-left-select-city-bottom {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            align-items: start;
            justify-content: flex-start;
            margin-top: 9px;
            background-color: #ffffff;
            z-index: 9999;
            .super-header-top-left-select-city-bottom-center {
              width: 100%;
              height: 100%;
              display: flex;
              flex-flow: row wrap;
              padding: 0 16px 16px 16px;
              overflow-y: auto;
              .super-header-top-left-select-city-bottom-center-top {
                width: 100%;
                height: 60px;
                padding-bottom: 12px;
                input[type="search"] {
                  width: 100%;
                  height: 44px;
                  margin-top: 10px;
                  background-color: #f0f0f1;
                  border: none;
                  border-radius: 30px;
                  padding: 0 20px;
                  font-family: var(--font-family);
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 24px;
                  letter-spacing: 0.3px;
                  color: #141414;
                  outline: none;
                  &::placeholder {
                    font-family: var(--font-family);
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.3px;
                    color: #a1a6aa;
                  }
                }
              }
              .super-header-top-left-select-city-bottom-center-bottom {
                width: 100%;
                height: 80%;
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                .super-header-top-left-select-city-bottom-center-bottom-p {
                  width: 100%;
                  height: 50px;
                  font-family: var(--font-family);
                  font-size: 12px;
                  color: #595959;
                  text-align: justify;
                }
                .super-header-top-left-select-city-bottom-center-bottom-center {
                  width: 100%;
                  height: 75px;
                  padding-bottom: 10px;
                  .super-header-top-left-select-city-bottom-center-bottom-center-p {
                    width: 100%;
                    height: 29px;
                    font-family: var(--font-family);
                    font-size: 14px;
                    text-align: right;
                    color: #3f4064;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.3px;
                    margin: 0 6px;
                  }
                  .super-header-top-left-select-city-bottom-center-bottom-center-items {
                    width: 100%;
                    height: 43px;
                    .swiper {
                      width: 100%;
                      height: 100%;
                    }

                    .swiper-slide {
                      text-align: center;
                      font-size: 18px;
                      background: #fff;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      .swiper-slide-city {
                        width: 80px;
                        height: 40px;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        border: 1px solid #f0f0f1;
                        padding: 5px;
                        border-radius: 30px;
                        p {
                          font-family: var(--font-family);
                          font-size: 10px;
                          color: #3f4064;
                          text-align: center;
                          font-weight: 700;
                        }
                        img {
                          width: 19px;
                          height: 19px;
                          object-fit: cover;
                          margin-right: 6px;
                          margin-bottom: 2px;
                        }
                      }
                    }

                    .swiper-slide img {
                      display: block;
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                }
                .super-header-top-left-select-city-bottom-center-bottom-bottom {
                  width: 100%;
                  position: relative;
                  top: 0;
                  cursor: pointer;
                  .super-header-top-left-select-city-bottom-center-bottom-bottom-items {
                    width: 100%;
                    height: 47px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    .super-header-top-left-select-city-bottom-center-bottom-bottom-item {
                      width: 100%;
                      height: 100%;
                      padding: 8px 0;
                      border-bottom: 1px solid #f0f0f1;
                      display: flex;
                      flex-flow: row wrap;
                      justify-content: space-between;
                      align-items: center;
                      .super-header-top-left-select-city-bottom-center-bottom-bottom-item-right {
                        width: 90%;
                        height: 30px;
                        .super-header-top-left-select-city-bottom-center-bottom-bottom-item-right-p {
                          font-family: var(--font-family);
                          font-size: 14px;
                          font-weight: 500;
                          color: #0c0c0c;
                          text-align: right;
                        }
                        .super-header-top-left-select-city-bottom-center-bottom-bottom-item-right-p-2 {
                          font-family: var(--font-family);
                          color: #a4a7ab;
                          font-size: 12px;
                        }
                      }
                      .super-header-top-left-select-city-bottom-center-bottom-bottom-item-left {
                        width: 24px;
                        height: 24px;
                        display: flex;
                        img {
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      #super-modal:checked ~ .super-header-top-left-select-city-bgc {
        display: flex;
      }
      #super-close:checked ~ .super-header-top-left-select-city-bgc {
        display: none;
      }
    }
  }
}